<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.geneview.rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="GeneView"
            id="org.geneview.rcp.jogl.view.jframe">
      </category>
      <view
            allowMultiple="true"
            category="org.geneview.rcp.jogl.view.jframe"
            class="org.geneview.rcp.views.GLJukeboxPathwayView"
            icon="resources/icons/pathway3D.png"
            id="org.geneview.rcp.views.GLJukeboxPathwayView"
            name="GLJukeboxPathwayView">
      </view>
      
      <view
            allowMultiple="true"
            category="org.geneview.rcp.jogl.view.jframe"
            class="org.geneview.rcp.views.GLHeatmap2DView"
            icon="resources/icons/heatmap.png"
            id="org.geneview.rcp.views.GLHeatmap2DView"
            name="GLHeatmap2DView">
      </view>               
      
      <view
            id="org.geneview.rcp.views.browser.browserView"
            name="GeneView browser"
            icon="icons/sample.gif"
            class="org.geneview.rcp.views.browser.BrowserView"
            category="org.geneview.rcp.jogl.view.jframe"
            allowMultiple="true">
      </view>
      
      <view
            id="org.geneview.rcp.views.Pathway2DView"
            name="Pathway 2D"
            icon="resources/icons/pathway2D.png"
            class="org.geneview.rcp.views.Pathway2DView"
            category="org.geneview.rcp.jogl.view.jframe"
            allowMultiple="true">
      </view>      
      
      <view
            id="org.geneview.rcp.views.HTMLBrowserView"
            name="Browser"
            icon="resources/icons/browser.png"
            class="org.geneview.rcp.views.HTMLBrowserView"
            category="org.geneview.rcp.jogl.view.jframe"
            allowMultiple="true">
      </view>    
      
   </extension>   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.geneview.rcp.perspective.GenomePerspective"
            id="org.geneview.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.geneview.rcp.application"
            name="GeneView Product">
         <property
               name="appName"
               value="GeneView Product">
         </property>
         <property
               name="aboutImage"
               value="resources/geneview_logo_small.png">
         </property>
         <property
               name="aboutText"
               value="GeneView visualization framework&#x0A;GeneView is a visualization framework for biomedical data.&#x0A;See: www.geneview.org&#x0A;&#x0A;(c) Copyright Institute for Computer Graphics and Vision (ICG)&#x0A;Graz University of Technology - 2007.&#x0A;All Rights Reserved.">
         </property>
      </product>
   </extension>

</plugin>
