<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="org.caleydo.datadomain.clinical"
        name="ClinicalDataDomain"
        point="org.caleydo.datadomain.DataDomain">
        <DataDomain
          id="org.caleydo.datadomain.DataDomain"
          name="ClinicalDataDomain"
          class="org.caleydo.datadomain.clinical.ClinicalDataDomain" />
   </extension>
</plugin>
