<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.view.datawindows.RcpGLDataWindowsView"
            icon="resources/icons/datawindows.png"
            id="org.caleydo.view.datawindows"
            name="Data Windows">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <command
                  commandId="org.caleydo.view.datawindows.command.opendatawindows"
                  icon="resources/icons/datawindows.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.datawindows.command.handler.OpenDataWindowsHandler"
            id="org.caleydo.view.datawindows.command.opendatawindows"
            name="Data Windows">
      </command>
   </extension>
   <extension
         id="org.caleydo.view.datawindows"
         name="DataWindowsViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="DataWindowsViewCreator"
          class="org.caleydo.view.creator.ViewCreator" />
   </extension>
      <extension
         id="org.caleydo.view.hyperbolic"
         name="HyperbolicViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="HyperbolicViewCreator"
          class="org.caleydo.view.datawindows.creator.ViewCreator" />
   </extension>
</plugin>
