<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="org.caleydo.datadomain.genetic"
        name="GeneticDataDomain"
        point="org.caleydo.datadomain.DataDomain">
        <DataDomain
          class="org.caleydo.datadomain.genetic.GeneticDataDomain" />
   </extension>
   <extension
        id="org.caleydo.datadomain.genetic"
        name="GeneticDataDomainInitialization"
        point="org.caleydo.datadomain.DataDomainInitialization">
        <DataDomainInitialization
          class="org.caleydo.datadomain.genetic.GeneticDataDomainInitialization" />
   </extension>
   <extension
         point="org.caleydo.core.StartupAddon">
      <addon
            class="org.caleydo.datadomain.genetic.internal.LoadGeneticStartupAddon"
            name="Load Genetic Data"
            order="5">
      </addon>
   </extension>
   <extension
         point="org.caleydo.serialize.addon">
      <addon
            class="org.caleydo.datadomain.genetic.internal.GeneticSerializationAddon">
      </addon>
   </extension>
   <extension
         point="org.caleydo.core.CacheInitializer">
      <initializer
            class="org.caleydo.datadomain.genetic.GeneticDataDomainInitialization">
      </initializer>
   </extension>
</plugin>
