<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.stratomex.RcpGLStratomexView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.stratomex"
            name="StratomeX">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.visualization"
                  label="Visualizations">
               <command
                     commandId="org.caleydo.view.stratomex.command.openstratomex"
                     icon="resources/icons/icon.png"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.stratomex.command.handler.OpenStratomexHandler"
            id="org.caleydo.view.stratomex.command.openstratomex"
            name="StratomeX">
      </command>
   </extension>
   <extension
         id="org.caleydo.view.visbricks"
         name="VisBricksViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="StratomexViewCreator"
          class="org.caleydo.view.stratomex.creator.ViewCreator" />
   </extension>
   <extension
         point="org.caleydo.view.ViewCategory">
      <ViewCategory
            isDataView="false"
            isReleaseView="true"
            viewID="org.caleydo.view.stratomex">
      </ViewCategory>
   </extension>
</plugin>
