<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.caleydo.core.StartupAddon">
      <addon
            class="org.caleydo.data.tcga.internal.TCGABrowserStartupAddon"
            name="TCGA Project"
            order="2">
      </addon>
   </extension>

</plugin>
