<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        id="org.caleydo.data.pathway.wikipathways.WikiPathwaysResourceLoader"
        name="WikiPathwaysResourceLoader"
        point="org.caleydo.data.pathway.PathwayResourceLoader">
        <PathwayResourceLoader
          class="org.caleydo.data.pathway.wikipathways.WikiPathwaysResourceLoader" />
  </extension>
  <extension
        point="org.caleydo.data.pathway.PathwayParser">
     <PathwayParser
           class="org.caleydo.data.pathway.wikipathways.WikiPathwaysParser">
     </PathwayParser>
  </extension>
  <extension
        point="org.caleydo.core.CacheInitializer">
     <initializer
           class="org.caleydo.data.pathway.wikipathways.WikiPathwaysParser">
     </initializer>
  </extension>

</plugin>
