<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.caleydo.core.CacheInitializer">
     <initializer
           class="org.caleydo.data.pathway.wikipathways.WikiPathwaysParser">
     </initializer>
  </extension>
  <extension
        point="org.caleydo.data.pathway.Database">
     <database
           label="org.caleydo.data.pathway.wikipathways.database1"
           loader="org.caleydo.data.pathway.wikipathways.WikiPathwaysParser"
           name="WikiPathways"
           url="www.wikipathways.org">
        <renderer
              fragmentShader="shader/fsTextOverlay.glsl"
              renderBackground="true"
              vertexShader="shader/vsTextOverlay.glsl">
        </renderer>
     </database>
  </extension>

</plugin>
