<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.histogram.RcpGLColorMapperHistogramView"
            icon="resources/icons/histogram.png"
            id="org.caleydo.view.histogram"
            name="Histogram, Color Legend">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View"
               tooltip="Test">
            <menu
                  id="org.caleydo.menu.view.tool"
                  label="Tools">
               <command
                     commandId="org.caleydo.view.histogram.command.openhistogram"
                     icon="resources/icons/histogram.png"
                     label="Histogram, Color Legend"
                     style="push"
                     tooltip="test2">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.histogram.OpenViewHandler"
            id="org.caleydo.view.histogram.command.openhistogram"
            name="Histogram, Color Legend">
      </command>
   </extension>
   <extension
         point="org.caleydo.view.EmbeddedView">
      <EmbeddingInfo
            viewID="org.caleydo.view.histogram">
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.numerical.segment.brick"
                  icon="resources/icons/histogram.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.histogram.HistogramVisInfo">
               <ViewCreator
                     class="org.caleydo.view.histogram.HistogramRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.numerical.header.brick"
                  icon="resources/icons/histogram.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.histogram.HistogramVisInfo">
               <ViewCreator
                     class="org.caleydo.view.histogram.HistogramRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.categorical.header.brick"
                  icon="resources/icons/histogram.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.histogram.HistogramVisInfo">
               <ViewCreator
                     class="org.caleydo.view.histogram.HistogramRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.categorical.segment.brick"
                  icon="resources/icons/histogram.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.histogram.HistogramVisInfo">
               <ViewCreator
                     class="org.caleydo.view.histogram.HistogramRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.histogram">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
   </extension>
   <extension
         point="org.caleydo.ui.GLElementFactory">
      <factory
            factory="org.caleydo.view.histogram.v2.internal.HistogramElementFactory"
            icon="resources/icons/chart_bar.png"
            name="Histogram">
      </factory>
      <factory
            factory="org.caleydo.view.histogram.v2.internal.AverageBarElementFactory"
            icon="resources/icons/chart_averagebar.png"
            name="Average Bar">
      </factory>
      <factory
            factory="org.caleydo.view.histogram.v2.internal.DistributionBarElementFactory"
            icon="resources/icons/chart_distribution.png"
            name="Distribution (Bar)">
      </factory>
      <factory
            factory="org.caleydo.view.histogram.v2.internal.DistributionPieElementFactory"
            icon="resources/icons/chart_pie.png"
            name="Distribution (Pie)">
      </factory>
      <factory
            factory="org.caleydo.view.histogram.v2.internal.DistributionHistogramElementFactory"
            icon="resources/icons/chart_bar.png"
            name="Histogram">
      </factory>
   </extension>
</plugin>
