<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.caleydo.data.pathway.PathwayProvider" name="PathwayProvider" schema="schema/org.caleydo.data.pathway.PathwayParser.exsd"/>
   <extension-point id="org.caleydo.datadomain.pathway.embeddedPathway" name="Embedded Pathway" schema="schema/org.caleydo.datadomain.pathway.embeddedPathway.exsd"/>
   <extension-point id="org.caleydo.datadomain.pathway.PathwayAction" name="Pathway Action" schema="schema/org.caleydo.datadomain.pathway.PathwayAction.exsd"/>
   <extension-point id="org.caleydo.data.pathway.Database" name="Pathway Database" schema="schema/org.caleydo.data.pathway.Database.exsd"/>
   <extension
        id="org.caleydo.datadomain.pathway"
        name="PathwayDataDomain"
        point="org.caleydo.datadomain.DataDomain">
        <DataDomain
          class="org.caleydo.datadomain.pathway.PathwayDataDomain" />
   </extension>
   <extension
         point="org.caleydo.serialize.addon">
      <addon
            class="org.caleydo.datadomain.pathway.internal.PathwaySerializationAddon">
      </addon>
   </extension>
   <extension
         point="org.caleydo.datadomain.TypedIDActions">
      <factory
            class="org.caleydo.datadomain.pathway.internal.TypedIDActionFactory">
      </factory>
   </extension>
</plugin>
