<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.caleydo.data.pathway.PathwayParser" name="PathwayParser" schema="schema/org.caleydo.data.pathway.PathwayParser.exsd"/>
   <extension
        id="org.caleydo.datadomain.pathway"
        name="PathwayDataDomain"
        point="org.caleydo.datadomain.DataDomain">
        <DataDomain
          class="org.caleydo.datadomain.pathway.PathwayDataDomain" />
   </extension>
   <extension
         point="org.caleydo.serialize.addon">
      <addon
            class="org.caleydo.datadomain.pathway.internal.PathwaySerializationAddon">
      </addon>
   </extension>
</plugin>
