<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.view.datameta.RcpDataMetaView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.datameta"
            name="Data Meta">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <command
                  commandId="org.caleydo.view.datameta.command.opendatameta"
                  icon="resources/icons/icon.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.datameta.command.handler.OpenDataMetaHandler"
            id="org.caleydo.view.datameta.command.opendatameta"
            name="Data Meta">
      </command>
   </extension>
   <extension
         id="org.caleydo.view.datameta"
         name="DataMetaViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="DataMetaViewCreator"
          class="org.caleydo.view.datameta.creator.ViewCreator" />
   </extension>
</plugin>
