<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
        id="org.caleydo.plex.DeskothequeManager"
        name="DeskothequeManager"
        point="org.caleydo.plex.GroupwareManager">
        <GroupwareManager
          id="org.caleydo.plex.DeskothequeManager"
          name="DeskothequeManager"
          class="org.caleydo.plex.DeskothequeManager" />
  </extension>

</plugin>
