<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.caleydo.rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
     <category
            name="Caleydo"
            id="org.caleydo.rcp.views">
      </category>
       
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLHeatMapView"
            icon="resources/icons/view/heatmap.png"
            id="org.caleydo.rcp.views.GLHeatMapView"
            name="Heat Map">
      </view>
      
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLHierarchicalHeatMapView"
            icon="resources/icons/view/heatmap.png"
            id="org.caleydo.rcp.views.GLHierarchicalHeatMapView"
            name="Hierarchical Heat Map">
      </view>      

      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLParCoordsView"
            icon="resources/icons/view/parcoords.png"
            id="org.caleydo.rcp.views.GLParCoordsView"
            name="Parallel Coordinates">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.ClinicalGLParCoordsView"
            icon="resources/icons/view/parcoords.png"
            id="org.caleydo.rcp.views.ClinicalGLParCoordsView"
            name="Clinical Parallel Coordinates">
      </view>         
      
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLPathwayView"
            icon="resources/icons/view/pathway.png"
            id="org.caleydo.rcp.views.GLPathwayView"
            name="Pathway">
      </view> 
      
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLRemoteRenderingView"
            icon="resources/icons/view/remote.png"
            id="org.caleydo.rcp.views.GLRemoteRenderingView"
            name="Bucket">
      </view> 
      
      <view
            id="org.caleydo.rcp.views.HTMLBrowserView"
            name="Browser"
            icon="resources/icons/view/browser.png"
            class="org.caleydo.rcp.views.swt.HTMLBrowserView"
            category="org.caleydo.rcp.views">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLGlyphView"
            icon="resources/icons/view/glyph.png"
            id="org.caleydo.rcp.views.GLGlyphView"
            name="Glyph">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.opengl.GLGlyphSliderView"
            icon="resources/icons/view/glyph.png"
            id="org.caleydo.rcp.views.GLGlyphSliderView"
            name="Glyph Slider">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.swt.SWTGlyphMappingConfigurationView"
            icon="resources/icons/view/glyph.png"
            id="org.caleydo.rcp.views.SWTGlyphMappingConfigurationView"
            name="Glyph Mapping Configuration">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.swt.SWTGlyphDataExportView"
            icon="resources/icons/view/glyph.png"
            id="org.caleydo.rcp.views.SWTGlyphDataExportView"
            name="Glyph Data Export">
      </view>
      <view
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.swt.TabularDataView"
            icon="resources/icons/view/tabular_data_viewer.png"
            id="org.caleydo.rcp.views.TabularDataView"
            name="Tabular Data Viewer">
      </view>
      <view
            category="org.caleydo.rcp.views"
            class="org.caleydo.rcp.views.swt.ToolBarView"
            icon="resources/icons/view/browser.png"
            id="org.caleydo.rcp.views.ToolBarView"
            name="Tool Bar">
      </view>

      
   </extension>   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Genome Perspective"  class="org.caleydo.rcp.perspective.GenomePerspective"
            id="org.caleydo.rcp.perspective">
            
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.caleydo.rcp.application"
            name="Caleydo">
         <property
               name="appName"
               value="Caleydo">
         </property>        
         <property
               name="aboutImage"
               value="resources/wizard/wizard.png">
         </property>
         <property
               name="windowImages"
               value="resources/icons/caleydo16.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Caleydo Visualization Framework&#x0A;Check out www.caleydo.org&#x0A;&#x0A;(c) Copyright by www.caleydo.org and Institute for Computer Graphics and Vision&#x0A;Graz University of Technology - 2008.&#x0A;All Rights Reserved.">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.caleydo.rcp.splashHandlers.InteractiveSplashHandler"
            id="org.caleydo.rcp.splashHandlers.progress">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.caleydo.rcp.product"
            splashId="org.caleydo.rcp.splashHandlers.progress">
      </splashHandlerProductBinding>         
   </extension>   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.rcp.command.handler.ExitHandler"
            id="org.caleydo.rcp.command.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.FullScreenHandler"
            id="org.caleydo.rcp.command.fullscreen"
            name="Full Screen">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenHeatMapHandler"
            id="org.caleydo.rcp.command.openviews.heatmap"
            name="Open Heatmap">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenParCoordsHandler"
            id="org.caleydo.rcp.command.openviews.parcoords"
            name="Open Parallel Coordinates">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenRemoteHandler"
            id="org.caleydo.rcp.command.openviews.remote"
            name="Open Bucket / Jukebox">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenBrowserHandler"
            id="org.caleydo.rcp.command.openviews.browser"
            name="Open Web Browser">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenGlyphViewHandler"
            id="org.caleydo.rcp.command.openviews.glyphview"
            name="Open Glyph View">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenGlyphSliderViewHandler"
            id="org.caleydo.rcp.command.openviews.glyphsliderview"
            name="Open Glyph Slider View">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenGlyphMappingConfigurationHandler"
            id="org.caleydo.rcp.command.openviews.glyphmappingconfigurationview"
            name="Open Glyph Mapping Configuration View">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenGlyphDataExportHandler"
            id="org.caleydo.rcp.command.openviews.glyphdataexportview"
            name="Open Glyph Data Export View">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenHierarchicalHeatMapHandler"
            id="org.caleydo.rcp.command.openviews.hierarchical_heatmap"
            name="Open Hierarchical Heat Map">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenTabularDataHandler"
            id="org.caleydo.rcp.command.openviews.tabulardata"
            name="Open Tabular Data Viewer">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenClinicalParCoordsHandler"
            id="org.caleydo.rcp.command.openviews.clinicalparcoords"
            name="Open Clinical Parallel Coordinates">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.ExportHandler"
            id="org.caleydo.rcp.command.export"
            name="Export">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.view.OpenToolBarHandler"
            id="org.caleydo.rcp.command.openviews.toolbar"
            name="Open Tool Bar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         
         
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.caleydo.rcp.command.openviews.tabulardata"
                  label="Load Data"
                  style="push">
            </command>
            <command
                  commandId="org.caleydo.rcp.command.export"
                  label="Export"
                  style="push">
            </command>
            <separator
                  name="org.caleydo.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="org.caleydo.rcp.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.caleydo.rcp.command.exit"
                  label="Exit"
                  mnemonic="E"
                  style="push">
            </command>
         </menu>
         <menu
               id="windowMenu"
               label="Window">
            <command
                  commandId="org.caleydo.rcp.command.fullscreen"
                  label="Full Screen"
                  mnemonic="F"
                  style="push">
            </command>
            <menu label="Open Views">
               <command
                     commandId="org.caleydo.rcp.command.openviews.hierarchical_heatmap"
                     icon="resources/icons/view/heatmap.png"
                     label="Hierarchical Heat Map"
                     style="push">
               </command>
               <command
                     commandId="org.caleydo.rcp.command.openviews.parcoords"
                     icon="resources/icons/view/parcoords.png"
                     label="Parallel Coordinates"
                     style="push">
               </command>
               <command
                     commandId="org.caleydo.rcp.command.openviews.clinicalparcoords"
                     icon="resources/icons/view/parcoords.png"
                     label="Clinical Parallel Coordinates"
                     style="push">
               </command>
               <command
                     commandId="org.caleydo.rcp.command.openviews.remote"
                     icon="resources/icons/view/remote.png"
                     label="Bucket / jukebox"
                     style="push">
               </command>
               <command
                     commandId="org.caleydo.rcp.command.openviews.browser"
                     icon="resources/icons/view/browser.png"
                     label="Web Browser"
                     style="push">
               </command>
               <command
                     commandId="org.caleydo.rcp.command.openviews.tabulardata"
                     icon="resources/icons/view/tabular_data_viewer.png"
                     label="Tabular Data Viewer"
                     style="push">
               </command>
               <menu
                     icon="resources/icons/view/glyph.png"
                     label="Glyph">
                  <command
                        commandId="org.caleydo.rcp.command.openviews.glyphview"
                        icon="resources/icons/view/glyph.png"
                        label="Glyph View"
                        style="push">
                  </command>
                  <command
                        commandId="org.caleydo.rcp.command.openviews.glyphsliderview"
                        icon="resources/icons/view/glyph.png"
                        label="Glyph Slider View"
                        style="push">
                  </command>
                  <command
                        commandId="org.caleydo.rcp.command.openviews.glyphmappingconfigurationview"
                        icon="resources/icons/view/glyph.png"
                        label="Glyph Mapping Configuration"
                        style="push">
                  </command>
               </menu>
            </menu>
         </menu>
         <menu
               id="adminMenu"
               label="Admin">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show error log"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.pde.runtime.LogView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Help"
               tooltip="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Caleydo"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.caleydo.rcp.actionSet"
            label="actionSet"
            visible="true">
         <action
               class="org.caleydo.rcp.progress.PathwayLoadingProgressIndicatorAction"
               id="org.caleydo.rcp.action.progressindicator"
               label="Progress Indicator"
               state="true"
               style="push">
         </action>
         <menu
               id="org.caleydo.rcp.menu1"
               label="label">
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
            <page
            class="org.caleydo.rcp.preferences.ColorMappingPreferencePage"
            id="org.caleydo.rcp.preferences.ColorMappingPreferencePage"
            name="Color Mapping">
      </page>
            <page
                  class="org.caleydo.rcp.preferences.HeatMapPreferencePage"
                  id="org.caleydo.rcp.HeatMapPreferences"
                  name="Heat Map">
            </page>
            <page
                  class="org.caleydo.rcp.preferences.ParCoordsPreferencePage"
                  id="org.caleydo.rcp.ParCoordsPreferences"
                  name="Parallel Coordinates">
            </page>
            <page
                  class="org.caleydo.rcp.preferences.PathwayUpdatePreferencePage"
                  id="org.caleydo.rcp.PathwayUpdatePreferences"
                  name="Update Pathways">
            </page>
            <page
                  class="org.caleydo.rcp.preferences.GeneralPreferencePage"
                  id="org.caleydo.rcp.GeneralPreferencePage"
                  name="General">
            </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.caleydo.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
