<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.caleydo.rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Caleydo"
            id="org.caleydo.rcp.jogl.view.jframe">
      </category>
      
      
      
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.jogl.view.jframe"
            class="org.caleydo.rcp.views.GLHeatMapView"
            icon="resources/icons/view/storagebased/heatmap/heatmap.png"
            id="org.caleydo.rcp.views.GLHeatMapView"
            name="GLHeatMapView">
      </view>      

      <view
            allowMultiple="true"
            category="org.caleydo.rcp.jogl.view.jframe"
            class="org.caleydo.rcp.views.GLParCoordsView"
            icon="resources/icons/view/storagebased/parcoords/parcoords.png"
            id="org.caleydo.rcp.views.GLParCoordsView"
            name="GLParCoordsView">
      </view>         
      
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.jogl.view.jframe"
            class="org.caleydo.rcp.views.GLPathwayView"
            icon="resources/icons/view/pathway/pathway.png"
            id="org.caleydo.rcp.views.GLPathwayView"
            name="GLPathwayView">
      </view> 
      
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.jogl.view.jframe"
            class="org.caleydo.rcp.views.GLRemoteRenderingView"
            icon="resources/icons/view/remote/remote.png"
            id="org.caleydo.rcp.views.GLRemoteRenderingView"
            name="GLRemoteRenderingView">
      </view> 
      
      <view
            id="HTMLBrowserView.view"
            name="Browser"
            icon="resources/icons/view/browser/browser.png"
            class="org.caleydo.rcp.views.HTMLBrowserView"
            category="org.caleydo.rcp.jogl.view.jframe"
            allowMultiple="true">
      </view>    
      
   </extension>   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Genome Perspective"  class="org.caleydo.rcp.perspective.GenomePerspective"
            id="org.caleydo.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.caleydo.rcp.application"
            name="Caleydo">
         <property
               name="appName"
               value="Caleydo">
         </property>
         <property
               name="aboutText"
               value="Caleydo visualization framework&#x0A;Caleydo is a general purpose visualization framework.&#x0A;Check out www.caleydo.org&#x0A;&#x0A;(c) Copyright by www.geneview.org and Institute for Computer Graphics and Vision (ICG)&#x0A;Graz University of Technology - 2008.&#x0A;All Rights Reserved.">
         </property>
         <property
               name="windowImages"
               value="resources/icons/caleydo/caleydo16.gif,resources/icons/caleydo/caleydo32.gif,resources/icons/caleydo/caleydo48.gif,resources/icons/caleydo/caleydo64.gif,resources/icons/caleydo/caleydo128.gif">
         </property>
         
                  <property
                                    name="preferenceCustomization"
                                    value="plugin_customization.ini"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.caleydo.rcp.splashHandlers.ExtensibleSplashHandler"
            id="org.caleydo.rcp.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.caleydo.rcp.product"
            splashId="org.caleydo.rcp.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.caleydo.rcp.splashExtension">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.rcp.command.handler.ExitHandler"
            id="org.caleydo.rcp.command.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.FullScreenHandler"
            id="org.caleydo.rcp.command.fullscreen"
            name="Full Screen">
      </command>
      <command
            defaultHandler="org.caleydo.rcp.command.handler.LoadDataHandler"
            id="org.caleydo.rcp.command.loaddata"
            name="Load Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.vertical1">
         <toolbar
               id="org.eclipse.ui.examples.contributions.contributedTrim">
            <control
                  class="org.caleydo.rcp.TrimTest"
                  id="contributions.controlContrib1">
            </control>
         </toolbar>
      </menuContribution>         
         
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.caleydo.rcp.command.loaddata"
                  label="Load Data"
                  style="push">
            </command>
            <command
                  commandId="org.caleydo.rcp.command.exit"
                  label="Exit"
                  mnemonic="E"
                  style="push">
            </command>
         </menu>
         <menu
               id="windowMenu"
               label="Window">
            <command
                  commandId="org.caleydo.rcp.command.fullscreen"
                  label="Full Screen"
                  mnemonic="F"
                  style="push">
            </command>
         </menu>
         <menu
               id="adminMenu"
               label="Admin">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show error log"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.pde.runtime.LogView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.caleydo.rcp.actionSet"
            label="actionSet"
            visible="true">
         <action
               class="org.caleydo.rcp.progress.PathwayLoadingProgressIndicatorAction"
               id="org.caleydo.rcp.action.progressindicator"
               label="Progress Indicator"
               state="true"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
