<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="applicationManager" class="daemon.ApplicationManager">
	</bean>

	<bean name="visLinkManager" class="daemon.VisLinkManager">
		<property name="applicationManager">
			<ref bean="applicationManager" />
		</property>
	</bean>

</beans>
