<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>visdaemon</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>

	<listener>  
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
	</listener>  

	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>selection</display-name>
		<servlet-name>selection</servlet-name>
		<servlet-class>daemon.SelectionDelivery</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>propagation</display-name>
		<servlet-name>propagation</servlet-name>
		<servlet-class>daemon.SelectionPropagation</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>reportVisualLinks</display-name>
		<servlet-name>reportVisualLinks</servlet-name>
		<servlet-class>daemon.ReportVisualLinks</servlet-class>
	</servlet>
	<servlet>
		<display-name>register</display-name>
		<servlet-name>register</servlet-name>
		<servlet-class>daemon.RegistrationServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>reportVisualLinks</servlet-name>
		<url-pattern>/reportVisualLinks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>propagation</servlet-name>
		<url-pattern>/propagation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>selection</servlet-name>
		<url-pattern>/selection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
</web-app>