<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.caleydo.rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Caleydo"
            id="org.caleydo.rcp.jogl.view.jframe">
      </category>
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.jogl.view.jframe"
            class="org.caleydo.rcp.views.SnippetJFrameView"
            icon="icons/sample.gif"
            id="org.caleydo.rcp.views.SnippetJFrameView"
            name="SnippetJFrameView">
      </view>
   </extension>   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.caleydo.rcp.Perspective"
            id="org.caleydo.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.caleydo.rcp.application"
            name="Caleydo">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>

</plugin>
