<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.caleydo.view.ViewCategory">
      <ViewCategory
            isDataView="false"
            isReleaseView="false"
            viewID="org.caleydo.view.enroute">
      </ViewCategory>
   </extension>
   <extension
         point="org.caleydo.view.DataSupport">
      <DataSupport
            class="org.caleydo.datadomain.genetic.GeneticDataSupportDefinition"
            viewID="org.caleydo.view.enroute">
      </DataSupport>
   </extension>
   <extension
         point="org.caleydo.view.EmbeddedView">
      <EmbeddingInfo
            viewID="org.caleydo.view.enroute">
         <ParentView
               viewID="org.caleydo.view.entourage">
            <Embedding
                  embeddingID="org.caleydo.view.entourage.path.level1"
                  icon="resources/icons/enroute.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.enroute.enRouteVisInfo">
               <ViewCreator
                     class="org.caleydo.view.enroute.enRouteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
      <EmbeddingInfo
            viewID="org.caleydo.view.enroute.path">
         <ParentView
               viewID="org.caleydo.view.entourage">
            <Embedding
                  embeddingID="org.caleydo.view.entourage.path.level2"
                  icon="resources/icons/path.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.enroute.path.PathVisInfo">
               <RendererCreator
                     class="org.caleydo.view.enroute.path.PathwayPathRendererCreator">
               </RendererCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
   </extension>
   <extension
         point="org.caleydo.datadomain.pathway.embeddedPathway">
      <parent
            viewID="org.caleydo.view.entourage">
         <pathway
               embeddingID="org.caleydo.view.entourage.pathway.multiform.level2"
               icon="resources/icons/pathway_lv2_2.png">
            <rendererCreator
                  class="org.caleydo.view.enroute.path.EntourageLevel2PathwayCreator">
            </rendererCreator>
         </pathway>
         <pathway
               embeddingID="org.caleydo.view.entourage.pathway.multiform.level3"
               icon="resources/icons/pathway_lv3.png">
            <rendererCreator
                  class="org.caleydo.view.enroute.path.EntourageLevel3PathwayCreator">
            </rendererCreator>
         </pathway>
      </parent>
   </extension>

</plugin>
