<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.caleydo.data.importer.Application">
         </run>
      </application>
   </extension>
   <extension
         id="tcgaProjectBuilderApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.caleydo.data.importer.tcga.TCGAProjectBuilderApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.caleydo.data.importer.product"
            name="Caleydo Data Importer">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.caleydo.data.importer.application"
            name="Caleydo Data Importer">
         <property
               name="appName"
               value="Caleydo Data Importer">
         </property>
      </product>
   </extension>
   <extension
         id="tcgaInterAnalysisRunProjectBuilderApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.caleydo.data.importer.tcga.qualitycontrol.TCGAInterAnalysisRunProjectBuilderApplication">
         </run>
      </application>
   </extension>
</plugin>
