<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.parcoords.RcpGLParCoordsView"
            icon="resources/icons/parcoords.png"
            id="org.caleydo.view.parcoords"
            name="Parallel Coordinates">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.experimental"
                  label="Experimental">
               <command
                     commandId="org.caleydo.view.parcoords.command.openparcoords"
                     icon="resources/icons/parcoords.png"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="org.caleydo.core.isReleaseState">
                        <equals
                              value="releaseVersion">
                        </equals>
                     </with>
                  </visibleWhen>                     
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.parcoords.command.handler.OpenParCoordsHandler"
            id="org.caleydo.view.parcoords.command.openparcoords"
            name="Parallel Coordinates">
      </command>
   </extension>
   <extension
         point="org.caleydo.view.ViewCategory">
      <ViewCategory
            isDataView="true"
            isReleaseView="false"
            viewID="org.caleydo.view.parcoords">
      </ViewCategory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.caleydo.core.gui.perspective">
         <view
               id="org.caleydo.view.parcoords"
               minimized="false"
               relationship="stack"
               relative="main"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.caleydo.view.EmbeddedView">
      <EmbeddingInfo
            viewID="org.caleydo.view.parcoords">
         <ParentView
               viewCreator="org.caleydo.view.parcoords.RemoteViewCreator1"
               viewID="org.caleydo.view.subgraph">
            <Embedding
                  ID="test"
                  embeddingID="test"
                  icon="resources/icons/parcoords.png"
                  isDefaultView="true"
                  viewCreator="org.caleydo.view.parcoords.ParCoordsRemoteViewCreator"
                  visInfo="org.caleydo.view.parcoords.ParCoordsVisInfo">
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
   </extension>
</plugin>
