<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.parcoords.RcpGLParCoordsView"
            icon="resources/icons/parcoords.png"
            id="org.caleydo.view.parcoords"
            name="Parallel Coordinates">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.visualization"
                  label="Visualizations">
               <command
                     commandId="org.caleydo.view.parcoords.command.openparcoords"
                     icon="resources/icons/parcoords.png"
                     style="push">                  
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.parcoords.command.handler.OpenParCoordsHandler"
            id="org.caleydo.view.parcoords.command.openparcoords"
            name="Parallel Coordinates">
      </command>
   </extension>
   <extension
         point="org.caleydo.view.ViewCategory">
      <ViewCategory
            isDataView="true"
            isReleaseView="true"
            viewID="org.caleydo.view.parcoords">
      </ViewCategory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.caleydo.core.gui.preferences.views"
            class="org.caleydo.view.parcoords.preferences.ParCoordsPreferencePage"
            id="org.caleydo.view.parcoords.page1"
            name="Parallel Coordinates Plot">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.caleydo.view.parcoords.preferences.MyPreferences">
      </initializer>
   </extension>
   <extension
         point="org.caleydo.ui.GLElementFactory">
      <factory
            factory="org.caleydo.view.parcoords.v2.internal.ParallelCoordinateElementFactory"
            icon="resources/icons/parcoords.png"
            name="Parallel Coordinates Plot">
      </factory>
      <factory
            factory="org.caleydo.view.parcoords.v2.internal.SingleAxisElementFactory"
            icon="resources/icons/icon_axis.png"
            name="1D Scatterplot"
            scaleType="fix">
      </factory>
   </extension>
</plugin>
