<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRankingView"
            id="rankvis.demo.university.wur"
            name="World University Ranking History">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="nasatxl.NASATxlResultsView"
            id="rankvis.demo.nasatxl"
            name="NASA Task Load Index User Study Results">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRanking2012View"
            id="rankvis.demo.university.wur2012"
            name="World University Ranking 2012">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRankingEvaluation1View"
            id="rankvis.eval.university.wur2012"
            name="World University Ranking 2012">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.arwu.AcademicRankingOfWorldUniverstiesView"
            id="rankvis.demo.university.arwu"
            name="Academic Ranking of World Universties">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.mup.MeasuringUniversityPerformanceView"
            id="rankvis.demo.university.mup"
            name="Measuring University Performance">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.mixed.MixedView"
            id="rankvis.demo.university.mixed"
            name="University Rankings 2012">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.top100under50.Top100Under50View"
            id="rankvis.demo.university.top100under50"
            name="Top 100 under 50 2012">
      </view>
      <view
            class="food.FoodView"
            id="rankvis.demo.food"
            name="Food Nutrition"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="kiva.KIVALendersResultsView"
            id="rankvis.demo.kivalenders"
            name="Kiva Lenders">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="demo.DemoApplication$Perspective"
            id="rankvis.demo.per"
            name="Demos">
      </perspective>
   </extension>
   <extension
         id="application"
         name="LineUp Demos"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main">
         <run
               class="demo.DemoApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name="LineUp Demos"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.caleydo.vis.rank.demos.application"
            description="LineUp Demos"
            name="LineUp Demos">
         <property
               name="appName"
               value="LineUp Demos">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.caleydo.core/resources/wizard/wizard.png">
         </property>
         <property
               name="aboutText"
               value="Caleydo - Visualization for Molecular Biology&#x0A;http:// caleydo.org&#x0A;&#x0A;Copyright 2008 - 2013  by the Caleydo Team.&#x0A;Caleydo is open-source software licenced under the New BSD license.">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.caleydo.core/resources/icons/caleydo_16.png,platform:/plugin/org.caleydo.core/resources/icons/caleydo_32.png,platform:/plugin/org.caleydo.core/resources/icons/caleydo_48.png,platform:/plugin/org.caleydo.core/resources/icons/caleydo_64.png,platform:/plugin/org.caleydo.core/resources/icons/caleydo_128.png">
         </property>
      </product>
   </extension>
</plugin>
