<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.caleydo.view.search.SearchResultActionFactory" name="SearchResultActionFactory" schema="schema/org.caleydo.view.search.SearchResultActionFactory.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.caleydo.core.views"
            class="org.caleydo.view.search.internal.RcpSearchView"
            icon="resources/icons/search.png"
            id="org.caleydo.view.search"
            name="Search">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.data"
               label="Search">
            <command
                  commandId="org.caleydo.view.search.command.opensearch"
                  icon="resources/icons/search.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.caleydo.core.gui.toolbar?before=zoomin">
         <command
               commandId="org.caleydo.view.search.command.opensearch"
               icon="resources/icons/search.png"
               label="Search"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.search.internal.OpenSearchHandler"
            id="org.caleydo.view.search.command.opensearch"
            name="Search">
      </command>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.search">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
      </association>
   </extension>
   <extension
         point="org.caleydo.view.search.SearchResultActionFactory">
      <factory
            class="org.caleydo.view.search.internal.actions.CreateCategoricalPerspectiveActionFactory">
      </factory>
   </extension>
</plugin>
