<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.view.dataflipper.RcpGLDataFlipperView"
            icon="resources/icons/dataflipper.png"
            id="org.caleydo.view.dataflipper"
            name="Stack&apos;n&apos;Flip">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <command
                  commandId="org.caleydo.view.dataflipper.command.opendataflipper"
                  icon="resources/icons/dataflipper.png"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with
                        variable="org.caleydo.core.isReleaseState">
                     <equals
                           value="releaseVersion">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.dataflipper.command.handler.OpenDataFlipperHandler"
            id="org.caleydo.view.dataflipper.command.opendataflipper"
            name="Stack&apos;n&apos;Flip">
      </command>
   </extension>
   <extension
         id="org.caleydo.view.dataflipper"
         name="DataFlipperViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="DataFlipperViewCreator"
          class="org.caleydo.view.dataflipper.creator.ViewCreator" />
   </extension>
</plugin>
