<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.treemap.RcpGLTreeMapView"
            icon="resources/icons/treemap.png"
            id="org.caleydo.view.treemap.hierarchical"
            name="Treemap">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.experimental"
                  label="Experimental">
               <command
                     commandId="org.caleydo.view.treemap.command.opentreemap"
                     icon="resources/icons/treemap.png"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.treemap.command.handler.OpenTreeMapHandler"
            id="org.caleydo.view.treemap.command.opentreemap"
            name="Treemap">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.caleydo.core.gui.preferences.views"
            class="org.caleydo.view.treemap.preferences.TreeMapPreferencePage"
            id="org.caleydo.view.treemap.preferences.TreeMapPreferencePage"
            name="Tree Map">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.caleydo.view.treemap.preferences.MyPreferences">
      </initializer>
   </extension>
</plugin>
