<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.pathway.RcpGLPathwayView"
            icon="resources/icons/pathway.png"
            id="org.caleydo.view.pathway"
            name="Pathway">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.pathway.command.handler.OpenPathwayHandler"
            id="org.caleydo.view.pathway.command.openpathway"
            name="Pathway">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.visualization"
                  label="Visualizations">
               <command
                     commandId="org.caleydo.view.pathway.command.openpathway"
                     icon="resources/icons/pathway.png"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.caleydo.view.DataSupport">
      <DataSupport
            class="org.caleydo.datadomain.genetic.GeneticDataSupportDefinition"
            viewID="org.caleydo.view.pathway">
      </DataSupport>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.caleydo.core.gui.perspective">
         <view
               id="org.caleydo.view.pathway"
               minimized="false"
               relationship="stack"
               relative="main"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.caleydo.view.EmbeddedView">
      <EmbeddingInfo
            viewID="org.caleydo.view.pathway">
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.pathway.segment.brick"
                  icon="resources/icons/pathway.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.pathway.PathwayVisInfo">
               <ViewCreator
                     class="org.caleydo.view.pathway.PathwayRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.pathway.header.brick"
                  icon="resources/icons/pathway.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.pathway.PathwayVisInfo">
               <ViewCreator
                     class="org.caleydo.view.pathway.PathwayRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.subgraph">
            <Embedding
                  embeddingID="org.caleydo.view.subgraph.pathway.multiform.level1"
                  icon="resources/icons/pathway.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.pathway.PathwayVisInfo">
               <ViewCreator
                     class="org.caleydo.view.pathway.PathwayRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
      <EmbeddingInfo
            viewID="org.caleydo.view.pathway.topological.path">
         <ParentView
               viewID="org.caleydo.view.subgraph">
            <Embedding
                  embeddingID="org.caleydo.view.subgraph.pathway.multiform.level2"
                  icon="resources/icons/pathway.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.pathway.PathwayVisInfo">
               <ViewCreator
                     class="org.caleydo.view.pathway.TopologicalPathwayPathCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
      <EmbeddingInfo
            viewID="org.caleydo.view.pathway.texture">
         <ParentView
               viewID="org.caleydo.view.subgraph">
            <Embedding
                  embeddingID="org.caleydo.view.subgraph.pathway.multiform.level3"
                  icon="resources/icons/pathway.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.pathway.PathwayVisInfo">
               <RendererCreator
                     class="org.caleydo.view.pathway.PathwayTextureCreator">
               </RendererCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
   </extension>
</plugin>
