<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.stratomex20.RcpGLStratomex20View"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.stratomex20"
            name="Stratomex 2.0">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.experimental"
                  label="Experimental">
               <command
                     commandId="org.caleydo.view.stratomex20.command.openstratomex20"
                     icon="resources/icons/icon.png"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="org.caleydo.core.isReleaseState">
                        <equals
                              value="releaseVersion">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.stratomex20.command.handler.OpenStratomex20Handler"
            id="org.caleydo.view.stratomex20.command.openstratomex20"
            name="Stratomex 2.0">
      </command>
   </extension>
   <extension
         id="org.caleydo.view.stratomex20"
         name="Stratomex20ViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="Stratomex20ViewCreator"
          class="org.caleydo.view.stratomex20.creator.ViewCreator" />
   </extension>
</plugin>
