<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="org.caleydo.datadomain.tissue"
        name="TissueDataDomain"
        point="org.caleydo.datadomain.DataDomain">
        <DataDomain
          id="org.caleydo.datadomain.DataDomain"
          name="TissueDataDomain"
          class="org.caleydo.datadomain.tissue.TissueDataDomain" />
   </extension>
</plugin>
