<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Caleydo"
            id="org.caleydo.rcp.jogl.view.jframe">
      </category>
      <view
            name="SnippetJFrameView"
            icon="icons/sample.gif"
            category="org.caleydo.rcp.jogl.view.jframe"
            class="org.caleydo.rcp.jogl.view.jframe.views.SnippetJFrameView"
            id="org.caleydo.rcp.jogl.view.jframe.views.SnippetJFrameView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.caleydo.rcp.jogl.view.jframe.views.SnippetJFrameView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
