<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.caleydo.core.views"
            class="org.caleydo.view.tourguide.RcpGLTourGuideView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.tool.tourguide"
            name="Tour Guide">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.experimental"
                  label="Experimental">
               <command
                     commandId="org.caleydo.view.tourguide.command.open"
                     icon="resources/icons/icon.png"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="org.caleydo.core.isReleaseState">
                        <equals
                              value="releaseVersion">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.tourguide.OpenViewHandler"
            id="org.caleydo.view.tourguide.command.open"
            name="Tour Guide">
      </command>
   </extension>
   <extension
         point="org.caleydo.view.stratomex.brick.contextmenu">
      <entry
            class="org.caleydo.view.tourguide.contextmenu.ScoreContextMenuBrickFactory">
      </entry>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.caleydo.core.gui.perspective">
         <view
               closeable="true"
               id="org.caleydo.view.tool.tourguide"
               minimized="false"
               moveable="true"
               ratio=".75"
               relationship="right"
               relative="main"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.caleydo.serialize.addon">
      <addon
            class="org.caleydo.view.tourguide.data.serialize.TourGuideSerializationAddon">
      </addon>
   </extension>
</plugin>
