<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.caleydo.tourguide.scorefactory" name="ScoreFactory" schema="schema/org.caleydo.tourguide.scorefactory.exsd"/>
   <extension-point id="org.caleydo.tourguide.metricfactory" name="Metric Factory" schema="schema/org.caleydo.tourguide.metricfactory.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.tourguide.internal.RcpGLTourGuideView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.tool.tourguide"
            name="Tour Guide">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.experimental"
                  label="Experimental">
               <command
                     commandId="org.caleydo.view.tourguide.command.open"
                     icon="resources/icons/icon.png"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="org.caleydo.core.isReleaseState">
                        <equals
                              value="releaseVersion">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.tourguide.internal.OpenViewHandler"
            id="org.caleydo.view.tourguide.command.open"
            name="Tour Guide">
      </command>
   </extension>
   <extension
         point="org.caleydo.view.stratomex.brick.contextmenu">
      <entry
            class="org.caleydo.view.tourguide.internal.score.BrickContextMenuFactory">
      </entry>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.caleydo.core.gui.perspective">
         <view
               closeable="true"
               id="org.caleydo.view.tool.tourguide"
               minimized="false"
               moveable="true"
               ratio=".75"
               relationship="right"
               relative="main"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.caleydo.serialize.addon">
      <addon
            class="org.caleydo.view.tourguide.internal.serialize.TourGuideSerializationAddon">
      </addon>
   </extension>
   <extension
         point="org.caleydo.tourguide.scorefactory">
      <factory
            class="org.caleydo.view.tourguide.impl.CombinedScoreFactory"
            name="Combined Score">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.CollapseScoreFactory"
            name="Collapse Score">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.AdjustedRandScoreFactory"
            name="Adjusted Rank Score">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.JaccardIndexScoreFactory"
            name="Jaccard Index Score">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.GeneSetEnrichmentScoreFactory"
            name="Gene Set Enrichment Analysis">
      </factory>
   </extension>
   <extension
         point="org.caleydo.tourguide.metricfactory">
      <factory
            class="org.caleydo.view.tourguide.impl.SizeMetricFactory"
            name="Size Metric"></factory>
      <factory
            class="org.caleydo.view.tourguide.impl.LogRankMetricFactory"
            name="Log Rank Score">
      </factory>
   </extension>
</plugin>
