<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.caleydo.tourguide.scorefactory" name="ScoreFactory" schema="schema/org.caleydo.tourguide.scorefactory.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.tourguide.internal.RcpGLTourGuideView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.tool.tourguide"
            name="LineUp"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.tool"
                  label="Tools">
               <command
                     commandId="org.caleydo.view.tourguide.command.open"
                     icon="resources/icons/icon.png"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.tourguide.internal.OpenViewHandler"
            id="org.caleydo.view.tourguide.command.open"
            name="LineUp">
      </command>
   </extension>
   <extension
         point="org.caleydo.serialize.addon">
      <addon
            class="org.caleydo.view.tourguide.internal.serialize.TourGuideSerializationAddon">
      </addon>
   </extension>
   <extension
         point="org.caleydo.tourguide.scorefactory">
      <factory
            class="org.caleydo.view.tourguide.impl.AdjustedRandScoreFactory"
            name="Adjusted Rank Score">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.ClusterSimilarityScoreFactory"
            name="Jaccard Index Score">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.GeneSetEnrichmentScoreFactory"
            name="Gene Set Enrichment Analysis">
      </factory>
      <factory
            class="org.caleydo.view.tourguide.impl.LogRankMetricFactory"
            name="Log Rank Score">
      </factory>
   </extension>
   <extension
         point="org.caleydo.view.stratomex.AddWizardElementFactory">
      <factory
            class="org.caleydo.view.tourguide.internal.stratomex.AddWizardElementFactory">
      </factory>
   </extension>
</plugin>
