<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.datagraph.command.handler.OpenDataGraphHandler"
            id="org.caleydo.view.datagraph.opendatagraph"
            name="DataGraph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.caleydo.rcp.views"
            class="org.caleydo.view.datagraph.RcpGLDataGraphView"
            id="org.caleydo.view.datagraph"
            name="DataGraph"
            restorable="true">
         <description>
            description body text
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <command
                  commandId="org.caleydo.view.datagraph.opendatagraph"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="org.caleydo.view.datagraph"
         name="DataGraphViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="DataGraphViewCreator"
          class="org.caleydo.view.datagraph.creator.ViewCreator" />
   </extension>
   <extension
         point="org.caleydo.view.ViewCategory">
      <ViewCategory
            isDataView="false"
            viewID="org.caleydo.view.datagraph">
      </ViewCategory>
   </extension>

</plugin>
