<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="org.caleydo.datadomain.generic"
        name="GenericDataDomain"
        point="org.caleydo.datadomain.DataDomain">
        <DataDomain
          class="org.caleydo.datadomain.generic.GenericDataDomain" />
   </extension>
   <extension
         id="org.caleydo.datadomain.generic"
         name="GenericDataDomainInitialization"
         point="org.caleydo.datadomain.DataDomainInitialization">
          <DataDomainInitialization
          class="org.caleydo.datadomain.generic.GenericDataDomainInitialization" />
   </extension>
</plugin>
