<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="org.caleydo.util.r.RStatisticsPerformer"
        name="RStatisticsPerformer"
        point="org.caleydo.util.statistics.StatisticsPerformer">
        <StatisticsPerformer
          class="org.caleydo.util.r.RStatisticsPerformer" />
   </extension>
</plugin>
