<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.scatterplot.RcpGLScatterplotView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.scatterplot"
            name="Scatterplot">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.experimental"
                  label="Experimental">
               <command
                     commandId="org.caleydo.view.scatterplot.command.openscatterplot"
                     icon="resources/icons/icon.png"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="org.caleydo.core.isReleaseState">
                        <equals
                              value="releaseVersion">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.scatterplot.OpenViewHandler"
            id="org.caleydo.view.scatterplot.command.openscatterplot"
            name="Scatterplot">
      </command>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.scatterplot">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
   </extension>
   <extension
         point="org.caleydo.view.EmbeddedView">
      <EmbeddingInfo
            viewID="org.caleydo.view.scatterplot">
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.numerical.segment.brick"
                  icon="resources/icons/icon.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.scatterplot.ScatterPlotVisInfo">
               <RendererCreator
                     class="org.caleydo.view.scatterplot.ScatterPlotGLElementCreator">
               </RendererCreator>
            </Embedding>
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.categorical.segment.brick"
                  icon="resources/icons/icon.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.scatterplot.ScatterPlotVisInfo">
               <RendererCreator
                     class="org.caleydo.view.scatterplot.ScatterPlotGLElementCreator">
               </RendererCreator>
            </Embedding>">
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.bicluster.cluster">
            <Embedding
                  embeddingID="org.caleydo.view.bicluster.cluster"
                  icon="resources/icons/icon.png"
                  isDefaultView="false"
                  visInfo="org.caleydo.view.scatterplot.ScatterPlotVisInfo">
               <RendererCreator
                     class="org.caleydo.view.scatterplot.ScatterPlotGLElementCreator">
               </RendererCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
   </extension>
</plugin>
