<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target sequenceNumber="9">
<locations>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.rcp.source" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.e4.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.e4.rcp.source" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.common" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.ecore" path="${eclipse_home}" type="Feature"/>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.caleydo.thirdparty.jogl" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.jogl-natives-linux-amd64" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.jogl-natives-linux-i586" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.jogl-natives-macosx-universal" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.jogl-natives-windows-amd64" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.jogl-natives-windows-i586" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.jgrapht" version="0.0.0"/>
<unit id="org.caleydo.thirdparty.pathvisio" version="0.0.0"/>
<repository location="http://dev.caleydo.org/nexus/content/repositories/thirdparty/.meta/p2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.0.1.201307031725"/>
<unit id="com.google.gson" version="2.1.0.v201303041604"/>
<unit id="com.google.guava" version="12.0.0.v201212092141"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<unit id="org.apache.commons.math" version="2.1.0"/>
<unit id="org.eclipse.e4.ui.workbench.addons.swt" version="1.0.0"/>
<repository location="http://dev.caleydo.org/nexus/content/groups/public-p2"/>
<repository location="http://dev.caleydo.org/nexus/content/repositories/eclipse"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://dev.caleydo.org/nexus/content/groups/public-p2"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<repository location="http://dev.caleydo.org/nexus/content/groups/public-p2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.0.1.201307031725"/>
<repository location="http://dev.caleydo.org/nexus/content/groups/public-p2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.compress" version="1.4.1.v201301140946"/>
<repository location="http://dev.caleydo.org/nexus/content/groups/public-p2"/>
</location>
</locations>
<includeBundles>
<plugin id="org.kohsuke.args4j"/>
</includeBundles>
</target>
