<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.table.RcpTableView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.table"
            name="Table">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.visualizations"
                  label="Visualizations">
               <command
                     commandId="org.caleydo.view.table.command.opentable"
                     icon="resources/icons/icon.png"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.table.OpenViewHandler"
            id="org.caleydo.view.table.command.opentable"
            name="Table">
      </command>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.table">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
   </extension>
</plugin>
