<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.rcp.views"
            class="org.caleydo.view.compare.RcpGLCompareView"
            icon="resources/icons/compare.png"
            id="org.caleydo.view.compare"
            name="Compare">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <command
                  commandId="org.caleydo.view.compare.command.opencompare"
                  icon="resources/icons/compare.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.compare.command.handler.OpenCompareHandler"
            id="org.caleydo.view.compare.command.opencompare"
            name="Compare">
      </command>
   </extension>

</plugin>
