<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.heatmap.heatmap.RcpGLHeatMapView"
            icon="resources/icons/heatmap.png"
            id="org.caleydo.view.heatmap"
            name="Heat Map"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.caleydo.view.heatmap.hierarchical.RcpGLHierarchicalHeatMapView"
            icon="resources/icons/heatmap.png"
            id="org.caleydo.view.heatmap.hierarchical"
            name="Hierarchical Heat Map"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.caleydo.view.heatmap.uncertainty.RcpGLUncertaintyHeatMapView"
            icon="resources/icons/heatmap.png"
            id="org.caleydo.view.heatmap.uncertainty"
            name="Uncertainty Heat Map"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.legacy"
                  label="Legacy">
               <command
                     commandId="org.caleydo.view.heatmap.command.openheatmap"
                     icon="resources/icons/heatmap.png"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="org.caleydo.core.isReleaseState">
                        <equals
                              value="releaseVersion">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.heatmap.command.handler.OpenHierarchicalHeatMapHandler"
            id="org.caleydo.view.heatmap.command.openheatmap"
            name="Heat Map">
      </command>
      <command
            defaultHandler="org.caleydo.view.heatmap.command.handler.OpenUncertaintyHeatMapHandler"
            id="org.caleydo.view.heatmap.command.openuncertaintyheatmap"
            name="Uncertainty Heat Map">
      </command>
   </extension>
      <extension
            point="org.caleydo.view.ViewCategory">
         <ViewCategory
               isDataView="true"
               isReleaseView="false"
               viewID="org.caleydo.view.heatmap.hierarchical">
         </ViewCategory>
      </extension>
      <extension
            point="org.caleydo.view.EmbeddedView">
         <EmbeddingInfo
               viewID="org.caleydo.view.heatmap">
            <ParentView
                  viewID="org.caleydo.view.stratomex">
               <Embedding
                     embeddingID="org.caleydo.view.stratomex.numerical.segment.brick"
                     icon="resources/icons/heatmap.png"
                     isDefaultView="true"
                     visInfo="org.caleydo.view.heatmap.heatmap.HeatMapVisInfo">
                  <ViewCreator
                        class="org.caleydo.view.heatmap.heatmap.HeatMapRemoteViewCreator">
                  </ViewCreator>
               </Embedding>
            </ParentView>
            <ParentView
                  viewID="org.caleydo.view.stratomex">
               <Embedding
                     embeddingID="org.caleydo.view.stratomex.categorical.segment.brick"
                     icon="resources/icons/heatmap.png"
                     isDefaultView="true"
                     visInfo="org.caleydo.view.heatmap.heatmap.HeatMapVisInfo">
                  <ViewCreator
                        class="org.caleydo.view.heatmap.heatmap.HeatMapRemoteViewCreator">
                  </ViewCreator>
               </Embedding>
            </ParentView>
         </EmbeddingInfo>
      </extension>
</plugin>
