<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.caleydo.view.EmbeddedView">
         <EmbeddingInfo
               viewID="org.caleydo.view.heatmap">
            <ParentView
                  viewID="org.caleydo.view.stratomex">
               <Embedding
                     embeddingID="org.caleydo.view.stratomex.numerical.segment.brick"
                     icon="resources/icons/heatmap.png"
                     isDefaultView="true"
                     visInfo="org.caleydo.view.heatmap.heatmap.HeatMapVisInfo">
                  <ViewCreator
                        class="org.caleydo.view.heatmap.heatmap.HeatMapRemoteViewCreator">
                  </ViewCreator>
               </Embedding>
            </ParentView>
            <ParentView
                  viewID="org.caleydo.view.stratomex">
               <Embedding
                     embeddingID="org.caleydo.view.stratomex.categorical.segment.brick"
                     icon="resources/icons/heatmap.png"
                     isDefaultView="true"
                     visInfo="org.caleydo.view.heatmap.heatmap.HeatMapVisInfo">
                  <ViewCreator
                        class="org.caleydo.view.heatmap.heatmap.HeatMapRemoteViewCreator">
                  </ViewCreator>
               </Embedding>
            </ParentView>
            <ParentView
                  viewID="org.caleydo.view.bicluster">
               <Embedding
                     embeddingID="org.caleydo.view.bicluster.cluster"
                     icon="resources/icons/heatmap.png"
                     isDefaultView="true"
                     visInfo="org.caleydo.view.heatmap.heatmap.HeatMapVisInfo">
                  <ViewCreator
                        class="org.caleydo.view.heatmap.heatmap.HeatMapRemoteViewCreator">
                  </ViewCreator>
               </Embedding>
            </ParentView>
         </EmbeddingInfo>
      </extension>
      <extension
            point="org.caleydo.ui.GLElementFactory">
         <factory
               factory="org.caleydo.view.heatmap.v2.internal.HeatMapElementFactory"
               icon="resources/icons/heatmap.png"
               name="Heatmap"
               order="5">
         </factory>
         <factory
               factory="org.caleydo.view.heatmap.v2.internal.LinearBarHeatMapElementFactory"
               icon="resources/icons/heatmap.png"
               name="Linear HeatMap">
         </factory>
      </extension>
</plugin>
