<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.tabular.RcpTabularDataView"
            icon="resources/icons/tissue.png"
            id="org.caleydo.view.tabular"
            name="Tabular Data">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <command
                  commandId="org.caleydo.view.tabular.command.opentabular"
                  icon="resources/icons/tissue.png"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with
                        variable="org.caleydo.core.isReleaseState">
                     <equals
                           value="releaseVersion">
                     </equals>
                  </with>
               </visibleWhen>                  
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.tabular.command.handler.OpenTabularDataHandler"
            id="org.caleydo.view.tabular.command.opentabular"
            name="Tabular Data">
      </command>
   </extension>
   <extension
         id="org.caleydo.view.tabular"
         name="TabularViewCreator"
         point="org.caleydo.view.ViewCreator">
         <ViewCreator
          id="org.caleydo.view.ViewCreator"
          name="TabularViewCreator"
          class="org.caleydo.view.tabular.creator.ViewCreator" />
   </extension>
</plugin>
