<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.kaplanmeier.RcpGLKaplanMeierView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.kaplanmeier"
            name="Kaplan Meier">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.kaplanmeier.OpenViewHandler"
            id="org.caleydo.view.kaplanmeier.command.openkaplanmeier"
            name="Kaplan Meier">
      </command>
   </extension>
   <extension
         point="org.caleydo.view.EmbeddedView">
      <EmbeddingInfo
            viewID="org.caleydo.view.kaplanmeier">
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.clinical.segment.brick"
                  icon="resources/icons/icon.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.kaplanmeier.KaplanMeierVisInfo">
               <ViewCreator
                     class="org.caleydo.view.kaplanmeier.KaplanMeierRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
         <ParentView
               viewID="org.caleydo.view.stratomex">
            <Embedding
                  embeddingID="org.caleydo.view.stratomex.clinical.header.brick"
                  icon="resources/icons/icon.png"
                  isDefaultView="true"
                  visInfo="org.caleydo.view.kaplanmeier.KaplanMeierVisInfo">
               <ViewCreator
                     class="org.caleydo.view.kaplanmeier.KaplanMeierRemoteViewCreator">
               </ViewCreator>
            </Embedding>
         </ParentView>
      </EmbeddingInfo>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.kaplanmeier">
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
   </extension>
   <extension
         point="org.caleydo.ui.GLElementFactory">
      <factory
            factory="org.caleydo.view.kaplanmeier.v2.internal.KaplanMaierElementFactory"
            icon="resources/icons/icon.png"
            name="Kaplan Maier Plot">
      </factory>
   </extension>
</plugin>
