<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.caleydo.view.tourguide.adapter">
      <adapter
            class="org.caleydo.view.tourguide.entourage.EntourageAdapterFactory">
      </adapter>
   </extension>
   <extension
         point="org.caleydo.view.entourage.datamapper">
      <DataMapper
            class="org.caleydo.view.tourguide.entourage.DataMapper">
      </DataMapper>
   </extension>
   
</plugin>
