<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="org.caleydo.view.info.selection.RcpSelectionInfoView"
            icon="resources/icons/info.png"
            id="org.caleydo.view.info.selection"
            name="Selection Info">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.caleydo.menu.view"
               label="View">
            <menu
                  id="org.caleydo.menu.view.tool"
                  label="Tools">
               <command
                     commandId="org.caleydo.view.info.selection.command.openselectioninfo"
                     icon="resources/icons/info.png"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.info.selection.OpenViewHandler"
            id="org.caleydo.view.info.selection.command.openselectioninfo"
            name="Selection Info">
      </command>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.info.selection">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.caleydo.view.info.selection.external.ExternalPreferencePage"
            id="org.caleydo.view.info.selection.external"
            name="Selection">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.caleydo.view.info.selection.external.MyPreferences">
      </initializer>
   </extension>
</plugin>
